body {
    /*background: #f0f9ff;*/
    background: #ebf4ff;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: none;
    color: #263d42;

}

body, input, select, textarea {
   color: #151D39;
}

.post > header .meta .published {
    color: #212E3D;
}

a:hover {
    color: #275dad !important;
}

.title a:hover {
   color: #fff !important;
}

#main header h1, #main header h2, #main header h3, #main header h4, #main header h5, #main header h6 {
    color: #fff;
    text-shadow: 0 0 5px black;
}

/* SEE src/orchid/website-v1/assets/css/main.css:2198
#intro .logo:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='none' zoomAndPan='disable'%3E%3Cpolygon points='0,0 100,0 100,25 50,0 0,25' style='fill:%23ebf4ff' /%3E%3Cpolygon points='0,100 100,100 100,75 50,100 0,75'  style='fill:%23ebf4ff' /%3E%3C/svg%3E");
}
*/

#intro header h2 {
  font-weight: 600;
}


#main article header {
    background: url("../images/stream01.jpg") no-repeat scroll center bottom;
    background-size: 100% auto;
}

#main article.post.single header {
    background: url("../images/stream01-col.jpg") no-repeat scroll center bottom;
    background-size: 100% auto;
}

#main article.post.single header {
    height: 17.5em;
    color: #9dc5f6;
}

#main article.post.single header a:hover {
    color: #d1e3ff !important;
}

#intro header h2, #header h1, header .title h2 {
    text-transform: uppercase;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    box-shadow: inset 0 0 0 1px #275dad;
    color: #275dad !important;
}

#footer .copyright {
    color: #666;
}

.titlesup {
    position: relative;
    top: -0.29em;
}

picture.flag source, picture.flag img {
    height: 1.75ex;
    margin: 0 4px 0 0;
    padding: 0;
    vertical-align: middle;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-linkedin-square {
    color: #0077B5;
}

.fa-instagram {
    color: #c13584;
}

.fa-github {
    color: #000;
}

.fa-xing {
    color: #026466;
}
